TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+12105550000

GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxx

SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_ANON_KEY=your_anon_key
SUPABASE_SERVICE_KEY=your_service_key

GOOGLE_REVIEW_LINK=https://g.page/r/xxxx/review

PORT=3000


# admin login email=hlakescustoms@gmail.com#
#password= Pa@7Tc.Tpc3pihQ#
#supabase datapassword=k7#N9vP@2mR$wQyL